*, *::before, *::after {
    margin: 0;
    padding: 0;
}

// @font-face {
//     font-family: 'Gotham';
//     src: url('@/assets/fonts/GothamBook.ttf') format('truetype');
//     font-weight: normal;
//     font-size: normal;
// }

$orange: #bf8c4f;