@import "@/assets/scss/main.scss";

.modify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__head {
    width: 1200px;
    color: #000;
    font-family: $font;
    font-size: 28px;
    line-height: 24px;
    margin: 36px 0 48px 0;

    @media screen and (max-width: 1320px) {
      width: 1000px;
    }

    @media screen and (max-width: 1040px) {
      width: 800px;
    }

    @media screen and (max-width: 850px) {
      width: 700px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media screen and (max-width: 400px) {
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 1200px;

    @media screen and (max-width: 1320px) {
      width: 1000px;
    }

    @media screen and (max-width: 1040px) {
      width: 800px;
    }

    @media screen and (max-width: 850px) {
      width: 700px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    @media screen and (max-width: 500px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-up {
      color: #000;
      font-family: $font;
      font-size: 24px;
      line-height: 24px;
    }

    &-down {
      width: 800px;
      height: 40px;
      padding: 0px 20px;
      align-items: center;
      border-radius: 6px;
      border: 2px solid $orange;

      @media screen and (max-width: 1040px) {
        width: 600px;
      }

      @media screen and (max-width: 700px) {
        width: 410px;
      }

      @media screen and (max-width: 500px) {
        width: 250px;
      }
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    @media screen and (max-width: 850px) {
      width: 644px;
    }

    @media screen and (max-width: 700px) {
      width: 454px;
    }
    @media screen and (max-width: 500px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-up {
      color: #000;
      font-family: $font;
      font-size: 24px;
      line-height: 24px;
    }

    &-down {
      width: 400px;
      height: 40px;
      padding: 0px 20px;
      border-radius: 6px;
      border: 2px solid $orange;

      @media screen and (max-width: 500px) {
        width: 250px;
      }

    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    
    @media screen and (max-width: 700px) {
      width: 454px;
    }

    @media screen and (max-width: 500px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-up {
      color: #000;
      font-family: $font;
      font-size: 24px;
      line-height: 24px;
    }

    &-down {
      width: 1200px;
      height: 300px;
      padding: 0px 20px;
      border-radius: 6px;
      border: 2px solid $orange;
      @media screen and (max-width: 1320px) {
        width: 800px;
      }

      @media screen and (max-width: 1040px) {
        width: 600px;
        height: 100px;
      }

      @media screen and (max-width: 700px) {
        width: 454px;
      }

      @media screen and (max-width: 600px) {
        width: 356px;
        height: 60px;
      }
      @media screen and (max-width: 500px) {
        width: 250px;
      }
    }
  }

  &__button {
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    background-color: $orange;
    border: none;
    border-radius: 6px;

    &-up {
      color: #fff;
      font-family: $font;
      font-size: 28px;
    }

    &-down {
      width: 35px;
      height: 35px;
      

    }
  }
}