.navbar {
  display: flex;
  // width: 1728px;
  padding-top: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: chartreuse;
}

.navigation {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 264px;

  &__img {
    margin-right: 10px;
  }
  &__bai {
    width: 295px;
    height: 52px;
    font-family: "gotham";
    font-weight: 325;
    font-size: 40px;
    line-height: 40px;
    background-color: #bf8c4f;
    border: none;
    transform: rotate(-2deg);
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    gap: 10px;
    border-radius: 6px;
  }

  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 295px;
    height: 52px;
    background-color: #bf8c4f;
    border-radius: 6px;
    border: none;
    margin-top: 95.59px;
    margin-right: 264px;
  }

  &__p {
    font-weight: 325;
    font-size: 28px;
    line-height: 40px;
    color: #fff;
    padding-right: 10px;
  }
}
// ajouter les couleurs en couleurs global.



.titreBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 304px 30px 300px;

  &__titre {
    display: flex;
    align-items: center;
    font-size: 28px;
    // font-family: ;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: none;
    border-color: #bf8c4f;
    border-radius: 6px;
    // font-family: ;
    font-size: 17px;
  }
}
